@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn {
    @apply bg-linear-to-r from-[#9121fa] to-[#3b58fb] rounded-lg;
  }

  .graytext {
    @apply text-[#afb9cc]
  }
}
